@charset "UTF-8";
html {
  height: 100%;
}

body {
  font-family: 'Arca Majora 3', '游ゴシック体';
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#works, #about, #skills {
  padding-top: 100px;
}

.inner {
  width: 1096px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

h1, h2 {
  font-size: 70px;
  text-align: center;
}

h2 {
  margin-bottom: 100px;
}

h3 {
  font-size: 30px;
}

.txtl {
  font-size: 30px;
}

.txtm {
  font-size: 16px;
}

.txts {
  font-size: 12px;
}

header {
  margin: 30px;
  position: fixed;
  height: 100px;
}

header ul li {
  display: inline;
  padding: 20px;
}

header ul li a {
  text-decoration: none;
  color: #222;
}

#mv {
  background-image: url(../image/mv-bg.png);
  height: 800px;
}

#mv .container {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 350px 0px 350px 0px;
}

#works {
  background-color: #000;
  background-image: url(../image/works-bg.png);
  height: 1000px;
}

#works h2 {
  color: #fff;
}

#works .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#works .container img {
  width: 33.3333%;
  margin: 0 10% 10% 0;
  width: calc(33.3333% - 10%);
}

#works .container img:nth-child(3n) {
  margin-right: 0;
}

#about {
  background-image: url(../image/about-bg.png);
  height: 900px;
  color: #fff;
}

#about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-container .about-left, #about .about-container .about-right {
  width: 45%;
}

#about .about-container .about-left img, #about .about-container .about-right img {
  width: 100%;
}

#about .about-container .about-left h3, #about .about-container .about-right h3 {
  margin-bottom: 30px;
}

#about .about-container .about-right {
  padding: 5%;
}

#skills {
  background-image: url(../image/skills-bg.png);
}

#skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#skills .skills-container figure {
  width: 228px;
  height: 228px;
  margin: 0 4% 4% 0;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skills-container figure img {
  width: 50%;
  height: 50%;
}

#skills .skills-container figure:nth-child(4n) {
  margin-right: 0;
}

footer {
  background-color: #222222;
  height: 100px;
}

footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .inner .footer-left .copyright {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .inner .footer-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .inner .footer-right ul li {
  list-style: none;
  margin-right: 30px;
}

footer .inner .footer-right ul li a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */