// 変数
$textBlack: #333333;
$textWhite: #ffffff;
// html
html {
  height: 100%;
}
// body
body {
  font-family: "Josefin Slab", YuGothic, "Yu Gothic Medium", "Yu Gothic", serif;
}
// *
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//
#works, #about, #skills {
  padding: 100px 0;
}
// inner
.inner {
  width: 1096px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}
// h1, h2, h3
h1, h2 {
  font-size: 70px;
  text-align: center;
}
h2 {
  margin-bottom: 100px;
}
h3 {
  font-size: 30px;
  margin-bottom: 50px;
}
h4 {
  font-size: 20px;
}
// txt
.txtl {
  font-size: 30px;
}
.txtm {
  font-size: 16px;
}
.txts {
  font-size: 12px;
}
// Header
header {
  margin: 30px;
  position: fixed;
  height: 100px;
  ul {
    li {
      display: inline;
      padding: 20px;
      a {
        text-decoration: none;
        color: #222;
      }
    }
  }
}
// Main Visual
#mv {
  background-image: url(../image/mv-bg.png);
  height: 100vh;
  .container {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 350px 0px 350px 0px;
  }
}
// works.
#works {
  background-color: #000;
  background-image: url(../image/works-bg.png);
  h2 {
    color: #fff;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      width: 33.3333%;
      height: 33.3333%;
      margin: 0 10% 13% 0;
      width: calc(33.3333% - 10%);
      box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
      transition: box-shadow 1s;
    }
    img:nth-child(3n) {
      margin-right: 0;
    }
    img:nth-child(n+4) {
      margin-bottom: 0;
    }
    img:hover {
      box-shadow: 0 0 120px rgba(255, 255, 255, 0.5);
      transition: box-shadow 1s;
    }
  }
}
// skills.
#skills {
  background-image: url(../image/skills-bg.png);
  padding-bottom: 100px;
  .skills {
    display: flex;
    justify-content: space-between;
  }
  .skills-right {
    width: 48%;
    p {
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      color: $textBlack;
    }
  }
  .others-title {
    margin-top: 50px;
  }
  .skill-others {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      width: 20%;
      height: 20%;
      padding: 0 8% 8% 0;
    }
  }
  .skills-left {
    width: 45%;
  }
  .skill-container {
    margin-bottom: 10px;
  }
  .skill-title {
    margin-bottom: 5px;
  }
  .skill-bar-container {
    height: 5px;
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
  }
  .skill-html5,
  .skill-css3,
  .skill-js,
  .skill-jquery,
  .skill-vue,
  .skill-php,
  .skill-ae,
  .skill-ps,
  .skill-ai,
  .skill-xd {
    height: 7px;
    background: #333;
    width: 0%;
  }
}
// about.
#about {
  background-image: url(../image/about-bg.png);
  color: #fff;
  .about-container {
    display: flex;
    justify-content: space-between;
  }
  .about-left, .about-right {
    width: 45%;
    img {
      width: 100%;
    }
    h3, .txtm {
      margin-bottom: 30px;
    }
    a {
      color: #fff;
    }
  }
  .about-right {
    padding: 5%;
  }
}
// Footer
footer {
  background-color: #222222;
  height: 100px;
  .inner {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
    .copyright {
      color: #ffffff;
      display: flex;
    }
    .footer-menu {
      display: flex;
      justify-content: space-between;
      li {
        list-style: none;
        margin-right: 30px;
        a {
          color: #ffffff;
          text-decoration: none;
        }
        a:hover {
          opacity: 0.6;
          transition: all .3s;
        }
      }
    }
  }
}
// Responsive Layout
// Tablet
@media screen and (max-width: 1095px) {
  .inner {
    width: 80%;
  }
  h2 {
    font-size: 50px;
    margin-bottom: 75px;
  }
  #works, #about, #skills {
    padding: 75px 0;
  }
  #about {
    background-image: url(../image/me-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .about-left {
      display: none;
    }
    .about-right {
      padding: 0;
      width: 100%;
    }
  }
}
// Smart Phone
@media screen and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
  #works {
    .container {
      justify-content: center;
      img {
        width: calc(40% - 10% / 2);
        margin-bottom: 10%;
      }
      img:nth-child(3n) {
        margin-right: 10%;
      }
      img:nth-child(2n) {
        margin-right: 0;
      }
      img:nth-child(n+4) {
        margin-bottom: 10%;
      }
      img:nth-child(n+5) {
        margin-bottom: 0;
      }
    }
  }
  #skills {
    .skills {
      display: block;
      .skills-left, .skills-right {
        width: 100%;
      }
      .skills-left {
        margin-bottom: 50px;
      }
    }
  }
}



