// Variable
$Black: #111;
$White: #fff;
$buttonBackground: #222;
$sectionBackgroundWhite: #fff;
$sectionBackgroundGray: #f6f6f6;
// Common
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  overflow: scroll;
}
img {
  width: 100%;
}
a {
  color: $Black;
  text-decoration: none;
}
li {
  list-style: none;
}
.text-en {
  font-style: italic;
}
button {
  background-color: $buttonBackground;
  border: none;
  color: $White;
  font-size: 20px;
  padding: 0 110px;
}
h1,
h2 {
  font-style: italic;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 120px;
  font-weight: normal;
}
h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
}
.section {
  &-title {
    margin-bottom: 100px;
  }
  &-padding {
    padding: 150px 0;
  }
  &-background-white {
    background-color: $sectionBackgroundWhite;
  }
  &-background-gray {
    background-color: $sectionBackgroundGray;
  }
}
.inner {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  width: 70%;
}
body,
button {
  font-family: "Cormorant Infant", "游ゴシック体", YuGothic, "游ゴシック Medium",
    sans-serif;
}
.fadein {
  opacity: 0;
  transform: translate(0, 400px);
  transition: 1.5s;
}
.fadein.up {
  opacity: 1;
  transform: translate(0, 0);
}
// Common of Sub Page
.sub-page {
  &-hero-image {
    align-items: center;
    background-position: right 0% top 50%;
    background-repeat: no-repeat;
    background-size: 90%;
    display: flex;
    height: 100%;
    justify-content: center;
  }
  &-title {
    color: $Black;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    p {
      font-style: normal;
    }
  }
  &-about {
    font-style: normal;
  }
}
// Drawer
.hamburger {
  cursor: pointer;
  height: 20px;
  position: fixed;
  right: 40px;
  top: 40px;
  width: 30px;
  z-index: 100000;
  &-line {
    background: $Black;
    display: block;
    height: 2px;
    position: absolute;
    transition: transform 0.8s;
    width: 100%;
    &-center {
      top: 9px;
    }
    &-bottom {
      bottom: 0;
      &.active {
        bottom: 10px;
        transform: rotate(135deg);
      }
    }
    &.active {
      background: $White;
    }
    &-top.active {
      top: 8px;
      transform: rotate(45deg);
    }
    &-center.active {
      opacity: 0;
    }
  }
}
// Navigation
.nav {
  background-image: url(/image/nav-bg.gif);
  background-position: center;
  background-size: 100%;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
  &-container {
    align-items: center;
    color: #000;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100%;
  }
  &-item {
    list-style: none;
    margin: 40px 0;
  }
  &-item-link {
    color: $White;
    font-size: 30px;
    font-style: italic;
    padding: 40px;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: $White;
      text-shadow: 0 0 10px $White;
    }
  }
}
// Hero
#hero {
  background-size: cover;
  height: 100vh;
}
.hero {
  &-image {
    background: 50%;
    background-image: url(/image/top-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }
  &-page-link {
    color: $White;
    text-shadow: black 0 0 8px;
  }
  &-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100%;
    span {
      font-size: 16px;
    }
  }
}
// Works
.works {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20%;
  }
  &-container:nth-child(4n) {
    margin-bottom: 150px;
  }
  &-about {
    width: 30%;
  }
  &-number {
    font-size: 60px;
    font-weight: lighter;
  }
  &-role,
  &-used {
    letter-spacing: normal;
  }
  &-role {
    margin-bottom: 5%;
  }
  &-thumbnail {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: 1s;
    width: 60%;
    &:hover {
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
      filter: brightness(50%);
    }
    img {
      width: 100%;
    }
  }
  &-more {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  &-more a {
    color: $White;
  }
}
// Works Modal Window
.works-modal {
  &-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  &-content {
    background-color: $sectionBackgroundWhite;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
    height: 100%;
    margin: 0 10%;
    max-height: 100%;
    overflow-y: scroll;
    padding: 0 8%;
    text-align: center;
    width: 60%;
    z-index: 100;
  }
  &-contents {
    display: none;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }
  &-titles,
  &-img {
    margin: 10% 0;
  }
  &-title {
    font-size: 20px;
  }
  &-link {
    font-size: 16px;
  }

  /* s */
  &-image-container,
  &-video,
  &-about,
  &-scope {
    margin-bottom: 10%;
  }
  &-image,
  &-video {
    width: 100%;
  }
  &-video {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &-scope {
    letter-spacing: normal;
  }
  &-captures {
    display: flex;
    justify-content: space-between;
  }
  &-capture-tab,
  &-capture-sp {
    img {
      height: auto;
      width: 100%;
    }
  }
  &-capture-tab {
    height: 10%;
    width: 60%;
  }
  &-capture-sp {
    width: 30%;
  }
  &-close {
    margin: 10% auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  &-fade-enter-active,
  &-fade-leave-active {
    transition: opacity 0.8s ease;
  }
  &-fade-enter,
  &-fade-leave-to {
    opacity: 0;
  }
}
// Skills
.skills {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-type {
    height: 200px;
    margin-bottom: 3%;
    width: 45%;
  }
  &-type-images {
    margin-bottom: 2%;
  }
  &-type-image {
    margin-right: 20px;
    width: 40px;
  }
}
// Carrer
.carrer {
  &-background {
    background-image: url(/image/top-carrer-bg.jpg);
    background-origin: content-box;
    background-position: 25% 100%;
    background-repeat: no-repeat;
    background-size: 40%;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    // contents
    margin-bottom: 10px;
  }
  &-group {
    // right
    margin-left: auto;
    width: 50%;
  }
  &-year {
    // box
    margin-bottom: 5%;
  }
}
// About
.about {
  &-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &-left {
    width: 50%;
  }
  &-right {
    width: 40%;
  }
  &-name,
  &-text {
    margin-bottom: 30px;
  }
  &-name {
    font-size: 22px;
    font-weight: normal;
  }
  &-middle-name {
    font-style: italic;
  }
  &-email {
    color: $Black;
  }
}
// footer
#footer {
  height: 100px;
}
.footer {
  &-container {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
  }
  &-copyright {
    color: $Black;
    line-height: 100px;
  }
  &-menu {
    display: flex;
    justify-content: space-between;
  }
  &-nav {
    margin-right: 30px;
  }
  &-nav:nth-child(4n) {
    margin-right: 0;
  }
  &-link {
    color: $Black;
  }
  &-link:hover {
    opacity: 0.6;
    transition: all 0.3s;
  }
}
