$White: #fff;
#page-works {
  .sub-page-hero-image {
    background-image: url(/image/works-hero.jpg);
  }
  .page-works {
    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-thumbnail {
      height: 25%;
      width: 18%;
      margin: 0 9% 10% 0;
      cursor: pointer;
      transition: 1s;
      &:hover {
        box-shadow: 0 0 50px rgba(0,0, 0, 0.3);
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:nth-child(n+5) {
        margin-bottom: 0;
      }
    }
    &-back {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &-back a {
      color: $White;
    }
  }
  @media screen and (max-width: 1095px) {
    #hero {
      height: 900px;
    }
    .hero-image {
      height: 100%;
    }
    #works {
      padding-top: 0;
      .page-works-thumbnail {
        width: 45%;
        margin-right: 0;
        margin-bottom: 10%;
        &:nth-child(n+5) {
          margin-bottom: 10%;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    #hero {
      height: 500px;
    }
    .hero-image {
      height: 100%;
    }
  }
}
