// works.html
#page-works {
  .section-title {
    margin: 0;
  }
  h2 {
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    p {
      font-style: normal;
    }
  }
  #hero-img {
    background-image: url(/image/works-hero.jpg);
    background-size: 90%;
    background-position: right 0% top 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  #works {
    background-color: #ffffff;
    h2 {
      color: $Black;
      text-align: left;
    }
    .work {
      &-tmb-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &-tmb {
        height: 25%;
        width: 18%;
        margin: 0 9% 10% 0;
        cursor: pointer;
        transition: 1s;
        &:hover {
          box-shadow: 0 0 50px rgba(0,0, 0, 0.3);
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:nth-child(n+5) {
          margin-bottom: 0;
        }
      }
    }
    .work-back a {
      color: $White;
    }
  }
  @media screen and (max-width: 1095px) {
    #hero {
      height: 900px;
    }
    #works {
      padding-top: 0;
      .works-thumbnail {
        width: 45%;
        margin-right: 0;
        margin-bottom: 10%;
        &:nth-child(n+5) {
          margin-bottom: 10%;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    #hero {
      height: 500px;
    }
  }
}
